PORT=3000  # Default Express port
MONGO_URI=mongodb://localhost:27017/univax-db  # Local Mongo (create DB if needed). For cloud: Sign up free MongoDB Atlas, get URI like mongodb+srv://<user>:<pass>@cluster0.mongodb.net/univax-db
JWT_SECRET=your-random-secret-key-12345  # Any string; generate strong one later (e.g., via online tool)
BREVO_API_KEY=your_brevo_api_key_here
BREVO_SENDER_EMAIL=your_verified_email@example.com
BREVO_SENDER_NAME=UniVax Team
BREVO_TEST_RECIPIENT=patient-test@gmail.com